/* ---------html*/

html {
    box-sizing: border-box;
}

*,*::before, *::after{
box-sizing: inherit;
}

/* -------Body*/

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding:0;
    font-style: normal;
    text-decoration: none;
}


/* ----------Header
  <header>
    <ul>
        <li><img src="images/logo.png" alt="logo"><li>
        <li><h1>Museum of Antiquities</h1><li>
        <li><p><a href="#buy">Buy</a></p></li>
    </ul>
  </header>
*/

header {
  margin: 0em;
  overflow: hidden;
}

header ol {
  margin: 1em 1em 0 1em;
  padding: 0;
  list-style-type: none;
}

header li {
  margin: 0;
  padding: 0em;
}

header img {
  float:left;
  width: 35%;
  display: inline;
}

header h1 {
  font-size: 24px;
  margin: 0;
  text-align: center;
  width: 100%;
}

header p {
  margin: 0;
  padding: 1rem;
  color: black;
  float: right;
}

header p :hover {
  color: purple;

}

/* Nav
<nav>
  <ol>
    <li><a href="#seven">Seven wonders</a></li>
    <li><a href="#buy">Buy tickets</a></li>
    <li><a href="#playing">Now playing</a></li>
    <li><a href="#week">This week</a></li>
  </ol>
</nav>
*/

nav {
  clear: left;
  display: block;

}

nav ol {
  margin: 0;
  padding: 0;
  width: 100%;
}

nav li {
  background: white;
  width: 25%;
  text-align: center;
  float: left;
  list-style-type: none;
  margin: 0;
  font-size: 1em;
  padding: 1em;
  overflow: hidden;
}

nav ol :hover {
  background-color: grey;
  color: white;
}

/* hero
<div class="hero">
    <figure class="banner">
    <img src="images/maertenvan-heemskerck-panorama.jpg" alt="">

    <Figcaption><h2>The Seven Wonders of the Ancient World</h2>
    <p>Remarkable constructions of classical antiquity almost completely lost in time.</p>
    </figcaption>
    </figure>
</div>
*/

.hero {
  margin: 0;
}

.banner {
  margin: 0;
  width: 100%;
}

.banner img {
  margin: 0;
  width: 100%;
  z-index: 1;
}

.hero figcaption {
  z-index: 2;
  text-align: center;
  margin: 0;
}

.banner p {
  z-index: 2;
  text-align: center;
  margin: 0;
}

/* wonders
  <div class="wonders">
    <h2 id="seven">The Seven Wonders</h2>
    <img src="images/giza.jpg" alt="Great Pyramid of Giza">
    <h3>Great Pyramid of Giza</h3>
      <dl>
        <dt>Date of construction:</dt>
        <dd>2584–2561 BC</dd>
        <dt>Builders:</dt>
        <dd>Egyptians</dd>
        <dt>Location:</dt>
        <dd>Giza Necropolis, Egypt</dd>
      </dl>
      <p>Learn more about <a href="#"> Giza</a><p>
*/

.wonders {
  margin: 0;
  width: 100%;
  padding: 1em 1em 0;
  float: left;
}

.wonders h1 {
  margin: 1rem;

}.wonders h2 {
  margin: 1rem;
  text-align: center;
}

.wonders h1 {
  margin: 1rem;
}

.wonders img {
  width: 100%;
  margin: 0;
  display: block;
  width: 100%;
}

dt {
float:left;
clear: left;
padding: 0;
margin: 0;

}

dd {
float:left;
clear:both;
margin: 1em;
color: grey;
}

.wonders p {
  text-align: center;
  padding-top: 1rem;
  clear: both;
}

.wonders p :hover {
    border: 2px solid grey;
    background-color: grey;
    color: white;
}


.bab {
  margin: 0;
  width: 100%;
  padding: 1em 1em 0;
  float: left;
}

.bab h1 {
  margin: 1rem;

}.bab h2 {
  margin: 1rem;
  text-align: center;
}

.bab h1 {
  margin: 1rem;
}

.bab img {
  width: 100%;
  margin: 0;
  display: block;
  width: 100%;
}

dt {
float:left;
clear: left;
padding: 0;
margin: 0;

}

dd {
float:left;
clear:both;
margin: 0;
color: grey;
}

.bab p {
  text-align: center;
  margin:  0;
  padding: ;
  clear: both;
}

.bab p :hover {
    border: 2px solid grey;
    background-color: grey;
    color: white;
}


.art {
  margin: 0;
  width: 100%;
  padding: 1em 1em 0;
  float: left;
}

.art h1 {
  margin: 1rem;
}
.art h2 {
  margin: 1rem;
  text-align: center;
}

.art h1 {
  margin: 1rem;
}

.art img {
  width: 100%;
  margin: 0;
  display: block;
  width: 100%;
}

dt {
float:left;
clear: left;
padding: 0;
margin: 0;

}

dd {
float:left;
clear:both;
margin: 0;
color: grey;
}

.art p {
  text-align: center;
  margin:  0;
  padding: ;
  clear: both;
}

.art p :hover {
    border: 2px solid grey;
    background-color: grey;
    color: white;
}

.zues {
  margin: 0;
  width: 100%;
  padding: 1em 1em 0;
  float: left;
}

.zues h1 {
  margin: 1rem;

}.zues h2 {
  margin: 1rem;
  text-align: center;
}

.zues h1 {
  margin: 1rem;
}

.zues img {
  width: 100%;
  margin: 0;
  display: block;
  width: 100%;
}

dt {
float:left;
clear: left;
padding: 0;
margin: 0;
}

dd {
float:left;
clear:both;
margin: 0;
color: grey;
}

.zues p {
  text-align: center;
  margin:  0;
  padding: ;
  clear: both;
}

.zues p :hover {
    border: 2px solid grey;
    background-color: grey;
    color: white;
}




.hal {
  margin: 0;
  width: 100%;
  padding: 1em 1em 0;
  float: left;
}

.hal h1 {
  margin: 1rem;

}.hal h2 {
  margin: 1rem;
  text-align: center;
}

.hal h1 {
  margin: 1rem;
}

.hal img {
  width: 100%;
  margin: 0;
  display: block;
  width: 100%;
}

dt {
float:left;
clear: left;
padding: 0;
margin: 0;

}

dd {
float:left;
clear:both;
margin: 0;
color: grey;
}

.hal p {
  text-align: center;
  margin:  0;
  padding: ;
  clear: both;
}

.hal p :hover {
    border: 2px solid grey;
    background-color: grey;
    color: white;
}

.rhode {
  margin: 0;
  width: 100%;
  padding: 1em 1em 0;
  float: left;
}

.rhode h1 {
  margin: 1rem;

}.rhode h2 {
  margin: 1rem;
  text-align: center;
}

.rhode h1 {
  margin: 1rem;
}

.rhode img {
  width: 100%;
  margin: 0;
  display: block;
  width: 100%;
}

dt {
float:left;
clear: left;
padding: 0;
margin: 0;

}

dd {
float:left;
clear:both;
margin: 0;
color: grey;
}

.rhode p {
  text-align: center;
  margin:  0;
  padding: ;
  clear: both;
}

.rhode p :hover {
    border: 2px solid grey;
    background-color: grey;
    color: white;
}



.light {
  margin: 0;
  width: 100%;
  padding: 1em 1em 0;
  float: left;
  clear: both;
  background-color:
}

.light h1 {
  margin: 1rem;

}.light h2 {
  margin: 1rem;
  text-align: center;
}

.light h1 {
  margin: 1rem;
}

.light img {
  width: 100%;
  margin: 0;
  display: block;
  width: 100%;
}

dt {
float:left;
clear: left;
padding: 0;
margin: 0;
}

dd {
float:left;
clear:both;
margin: 0;
color: grey;
}

.light p {
  text-align: center;
  margin:  0;
  padding: ;
  clear: both;
}

.light p :hover {
    border: 2px solid grey;
    background-color: grey;
    color: white;
}




/*tickets
<div class="tickets">
  <h2 id="buy">Buy Tickets</h2>
    <p>Come explore the ancient wonders with our amazing teleportation
      technology that jumps you around the world.
    </p>
    <ul>
      <li>$15 for <a href="#">adults</a></li>
      <li>$5 for <a href="#">kids</a></li>
    </ul>

 <h3>Become a member</h3>
    <p>Is one visit not enough?
      Join our yearly program for unlimited access.
    </p>
    <ul>
      <li>$99 for <a href="#">adults</a></li>
      <li>$39 for <a href="#">kids</a></li>
    </ul>
</div>
*/

.tickets {
  margin: 0;
  background-color: #ededed;
}

.tickets h3 {
  font-size: 20px;
  margin: 0;
  padding: 2rem 0 0 0;
  text-align: center;
  width: 100%;
  clear: both;
}

.tickets h2 {
  font-size: 24px;
  margin: 0;
  padding: 2rem 0 0 0;
  text-align: center;
  width: 100%;
  clear: both;
}

.tickets p{
  text-align: center;
  margin: 0;
  padding: 1em 2em 0;
}

.tickets ul {
  list-style-type: none;
}

.tickets li{
float: left;
padding: 0 0 0 1rem;
}

.tickets li :hover {
  border: 2px solid grey;
  background-color: grey;
  color: white;
}

/* nowplaying
<div class="nowplaying">
    <h2 id="playing">Now playing on the large screen</h2>

      <figure>
        <img src="images/maroti-atlantisz.jpg" alt="Atlantis">
          <figcaption>
            <strong>Atlantis: Why we’re so mysterious</strong>
          <p>From allegory to fiction to mystery.</p>
          </figcaption>

          <a href="#">See show times</a>
      </figure>
</div>
*/

.nowplaying {
  margin: 0;
}

.nowplaying img {
  float:left;
  width: 100%;
  display: inline;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
  float:left;
  display: inline;
}

.nowplaying h2 {
  float: left;
  margin: 1rem;
  text-align: center;
  padding: ;
}

figcaption {
  float:left;
}

/* thisweek*/








/* Footer*/
