/* ---------html*/

html {
    box-sizing: border-box;
    font-style: normal;
    text-decoration: none;
}

*,*::before, *::after{
box-sizing: inherit;
}

/* -------Body*/

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding:0;
}


/* ----------Header
  <header>
    <ul>
        <li><img src="images/logo.png" alt="logo"><li>
        <li><h1>Museum of Antiquities</h1><li>
        <li><p><a href="#buy">Buy</a></p></li>
    </ul>
  </header>
*/


header {
  margin: 0em;
  padding: 0.25em;
}

header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  width: 100;
  position: relative;
}

header li {
  margin: 0;
  padding: 0em;
  text-align: center;
}

header img {
  float:left;
  width: 50%;
}

header h1 {
  font-size: 24px;
  margin: 0;
  text-align: center;
  width: 100%;
}

header p {
  margin: 0;
  padding: 0;
  float: right;
}

header p :hover {
  color: orange;
  text-decoration: none;
}

a {
    color: black;
    text-decoration: none;
}

a :hover {
  color: white;
  background-color: grey;
}

/* Nav
<nav>
  <ol>
    <li><a href="#seven">Seven wonders</a></li>
    <li><a href="#buy">Buy tickets</a></li>
    <li><a href="#playing">Now playing</a></li>
    <li><a href="#week">This week</a></li>
  </ol>
</nav>
*/

nav {
  clear: both;
  display: block;
  color: black;
  text-decoration: none;
}

nav ol {
  margin: 0;
  padding: 0;
  width: 100%;
}

nav li {
  width: 25%;
  text-align: center;
  float: left;
  list-style-type: none;
  margin: 0;
  font-size: 1em;
  padding: 1em;
  overflow: hidden;
}

header ol :hover {
  color: orange;
  text-decoration: none;
}

/* hero
<div class="hero">
    <figure class="banner">
    <img src="images/maertenvan-heemskerck-panorama.jpg" alt="">

    <Figcaption><h2>The Seven Wonders of the Ancient World</h2>
    <p>Remarkable constructions of classical antiquity almost completely lost in time.</p>
    </figcaption>
    </figure>
</div>
*/
.hero-div {
    background-color: pink;
    margin: 0;
    padding: 0;
    display: block;
    clear: both;
}

figure {
    display: block;
    padding: 0;
    margin: 0;
    position: relative;
}

img {
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
}

figcaption {
    position: absolute;
    bottom: 0;
    left: 10%;
}

figcaption h2 {
    padding: 0.5em 0 0 0;
    margin: 0;
    font-size: 1em;
    line-height: 1em;
}

figcaption p {
    font-size: .8em;
    padding: 0;
    margin: 0;
}


.hero-div {
    margin: 0;
    padding: 0;
    display: block;
    clear: both;
}

figure {
    display: block;
    padding: 0;
    margin: 0;
    position: relative;
}

img {
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
}

figcaption {
    position: absolute;
    padding: 0 1em 1em;
    text-align: center;
    width: 95%;
}

figcaption h2 {
    padding: 0.5em 3.5em 0em 0;
    margin: 0;
    font-size: 1em;
    line-height: 1em;
    color:  white;
}

figcaption p {
    font-size: .8em;
    padding: 0 3.5em 0 0;
    margin: 0;
    color: white;
}

/* wonders
  <div class="wonders">
    <h2 id="seven">The Seven Wonders</h2>
    <img src="images/giza.jpg" alt="Great Pyramid of Giza">
    <h3>Great Pyramid of Giza</h3>
      <dl>
        <dt>Date of construction:</dt>
        <dd>2584–2561 BC</dd>
        <dt>Builders:</dt>
        <dd>Egyptians</dd>
        <dt>Location:</dt>
        <dd>Giza Necropolis, Egypt</dd>
      </dl>
      <p>Learn more about <a href="#"> Giza</a><p>
*/

.wonders {
  margin: 0;
  width: 100%;
  padding: 1em 1em 0;
  float: left;
}

.wonders h1 {
  margin: 1em;

}.wonders h2 {
  margin: 1em;
  text-align: center;
}

.wonders h1 {
  margin: 1em;
}

.wonders img {
  width: 100%;
  margin: 0;
  display: block;
  width: 100%;
}

dt {
float:left;
clear: left;
padding: 0;
margin: 0;

}

dd {
float:left;
clear:both;
margin: 1em;
color: grey;
}

.wonders p {
  text-align: center;
  padding-top: 2em;
  clear: both;
}

.wonders p :hover {
    background-color: grey;
    color: white;
}


.bab {
  margin: 0;
  width: 100%;
  padding: 1em 1em 0;
  float: left;
}

.bab h1 {
  margin: 1em;

}.bab h2 {
  margin: 1em;
  text-align: center;
}

.bab h1 {
  margin: 1em;
}

.bab img {
  width: 100%;
  margin: 0;
  display: block;
  width: 100%;
}

dt {
float:left;
clear: left;
padding: 0;
margin: 0;

}

dd {
float:left;
clear:both;
margin: 0;
color: grey;
}

.bab p {
  text-align: center;
  margin:  0;
  padding: 0;
  clear: both;
  padding: 2em 0 2em 0;
}

.bab p :hover {
    border: 2px solid grey;
    background-color: grey;
    color: white;
}


.art {
  margin: 0;
  width: 100%;
  padding: 1em 1em 0;
  float: left;
}

.art h1 {
  margin: 1em;
}
.art h2 {
  margin: 1em;
  text-align: center;
}

.art img {
  width: 100%;
  margin: 0;
  display: block;
  width: 100%;
}

dt {
float:left;
clear: left;
padding: 0;
margin: 0;

}

dd {
float:left;
clear:both;
margin: 0;
color: grey;
}

.art p {
  text-align: center;
  margin:  0;
  padding: 0;
  clear: both;
  padding-top: 2em;
}

.art p :hover {
    border: 2px solid grey;
    background-color: grey;
    color: white;
}

.zues {
  margin: 0;
  width: 100%;
  padding: 1em 1em 0;
  float: left;
}

.zues h1 {
  margin: 1em;

}.zues h2 {
  margin: 1em;
  text-align: center;
}

.zues h1 {
  margin: 1em;
}

.zues img {
  width: 100%;
  margin: 0;
  display: block;
  width: 100%;
}

dt {
float:left;
clear: left;
padding: 0;
margin: 0;
}

dd {
float:left;
clear:both;
margin: 0;
color: grey;
}

.zues p {
  text-align: center;
  margin:  0;
  padding: 0;
  clear: both;
  padding-top: 2em 0 2em 0;
}

.zues p :hover {
    border: 2px solid grey;
    background-color: grey;
    color: white;
}




.hal {
  margin: 0;
  width: 100%;
  padding: 1em 1em 0;
  float: left;
}

.hal h1 {
  margin: 1em;

}.hal h2 {
  margin: 1em;
  text-align: center;
}

.hal h1 {
  margin: 1em;
}

.hal img {
  width: 100%;
  margin: 0;
  display: block;
  width: 100%;
}

dt {
float:left;
clear: left;
padding: 0;
margin: 0;

}

dd {
float:left;
clear:both;
margin: 0;
color: grey;
}

.hal p {
  text-align: center;
  margin:  0;
  padding: 2em 0 2em 0 ;
  clear: both;
}

.hal p :hover {
    border: 2px solid grey;
    background-color: grey;
    color: white;
}

.rhode {
  margin: 0;
  width: 100%;
  padding: 1em 1em 0;
  float: left;
}

.rhode h1 {
  margin: 1em;

}.rhode h2 {
  margin: 1em;
  text-align: center;
}

.rhode h1 {
  margin: 1em;
}

.rhode img {
  width: 100%;
  margin: 0;
  display: block;
  width: 100%;
}

dt {
float:left;
clear: left;
padding: 0;
margin: 0;

}

dd {
float:left;
clear:both;
margin: 0;
color: grey;
}

.rhode p {
  text-align: center;
  margin:  0;
  padding: 2em 0 2em 0;
  clear: both;
}

.rhode p :hover {
    border: 2px solid grey;
    background-color: grey;
    color: white;
}



.light {
  margin: 0;
  width: 100%;
  padding: 1em 1em 0;
  float: left;
  clear: both;
}

.light h1 {
  margin: 1em;

}.light h2 {
  margin: 1em;
  text-align: center;
}

.light h1 {
  margin: 1em;
}

.light img {
  width: 100%;
  margin: 0;
  display: block;
  width: 100%;
}

dt {
float:left;
clear: left;
padding: 0;
margin: 0;
}

dd {
float:left;
clear:both;
margin: 0;
color: grey;
}

.light p {
  text-align: center;
  margin:  0;
  padding: 2em 0 2em 0;
  clear: both;
}

.light p :hover {
    border: 2px solid grey;
    background-color: grey;
    color: white;
}




/*tickets
<div class="tickets">
  <h2 id="buy">Buy Tickets</h2>
    <p>Come explore the ancient wonders with our amazing teleportation
      technology that jumps you around the world.
    </p>
    <ul>
      <li>$15 for <a href="#">adults</a></li>
      <li>$5 for <a href="#">kids</a></li>
    </ul>

 <h3>Become a member</h3>
    <p>Is one visit not enough?
      Join our yearly program for unlimited access.
    </p>
    <ul>
      <li>$99 for <a href="#">adults</a></li>
      <li>$39 for <a href="#">kids</a></li>
    </ul>
</div>
*/

.tickets {
    margin: 0;
    text-align: center;
    clear: left;
    overflow: hidden;
    display: block;
}

.tickets p {
padding: 1.5em }

.tickets h2 {
    text-align: center;
    clear: both;
    margin: 0;
    padding: .5em;
}

.tickets ul {
    display: block;
    margin: 0 auto 2em;
    width: 70%;
    overflow: hidden;
}
.tickets li {
    float: left;
    list-style-type: none;
    width: 50%;
    padding: 1em;
}

.tickets li:hover {
	background-color: lightgrey;
}

/* nowplaying
<div class="nowplaying">
    <h2 id="playing">Now playing on the large screen</h2>

      <figure>
        <img src="images/maroti-atlantisz.jpg" alt="Atlantis">
          <figcaption>
            <strong>Atlantis: Why we’re so mysterious</strong>
          <p>From allegory to fiction to mystery.</p>
          </figcaption>

          <a href="#">See show times</a>
      </figure>
</div>
*/

.nowplaying {
  margin: 0;
  padding: 0;
}

.nowplaying img {
  width: 100%;
  margin: 0;
  padding: 0;

}

.nowplaying figure {
  margin: 0;
  padding: 0;
  width: 100%;
}

.nowplaying h2 {
  margin: 0;
  text-align: center;
  padding-bottom: 1em;
}

.nowplaying figcaption {
  position: absolute;
  color: white;
  padding-right: 2em;
  text-align: center;
}

.nowplaying p {
  text-align: center;
}

.nowplaying p:hover {
  background-color: grey;
  color: white;
}

/* thisweek*/

.thisweek h2 {
  text-align: center;
  margin-top: 2em;
}

.thisweek dt {
  padding-left:  1em;
  margin-top: 1em;
  margin-bottom: .05em;
  width: 100%;

}

.thisweek dd {
  padding-left: 1.5em;
  margin:  0;
  width: 100%;
}

.thisweek {
  margin-bottom: 1em;
  clear: both;
}

/*Footer*/

footer {
  padding-top: 1em;
  margin-top:  0em;
  font-size: 0.85em;
}

footer ol {
  list-style-type: none;
  margin-top: 0;
  padding: 1.5em;
}
footer li {

}
footer p {

}
 a :hover {

 }


/*mediaqueries*/

@media only screen and (min-width: 37em){
  body {
    background-color: blue;
  }
  h1 {
    color: white;
  }
}

@media only screen and (min-width: 50em){
  body {
    background-color: orange;
    color: yellow;
  }
}
